* { 
	margin: 0;
	padding: 0;
} 

body { 
	font-family: 'Arial';
	margin: 0;
}

html {
	margin: 0;
}

header {
	display: block;
	width: 100%;
	text-align: center;
	color: white;
	transition: .4s;
	background: green;
}

header a:hover {
	cursor: pointer;
	color: white;
}

header img{
	margin: -10px;
	border-radius: 30px;
	position: absolute;
	margin-left: -610px;
}

.bvnue{
	background-image: url("images/essai2.png");
	height: 600px;
}

.bvnueDesign  {
	float: left;
	height: 600px;
	width: 950px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.bvnuecarrousel h2 {
	height: 600px;
	width: 950px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.container {
	background: green;
	text-align: center;
}






.imagepartenaire {
	color: black;
}


footer {
	text-align: center;
	padding: 3px;
	background-color: rgb(44, 44, 44);
	color: white;
}

.copyright {
	background-color: rgba(0, 0, 0, 0.2);
}

.text {
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
