* { 
	margin: 0;
	padding: 0;
} 

body { 
	font-family: 'Arial';
}

header {
	position: fixed;
	width: 100%;
	text-align: center;
	color: white;
	transition: .4s;
	background: green;
}

header a:hover {
	cursor: pointer;
	color: white;
}

header img{
	border-radius: 30px;
	float: left;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}










































/* * { */
	/* margin: 0; */
	/* padding: 0; */
	/* text-decoration: none; */
	/* list-style: none; */
/* } */

/* body { */
	/* font-family: 'Arial'; */
/* } */

/* header { */
	/* background: rgb(25, 135, 84); */
	/* display: block; */
/* } */

/* .navbar { */
	/* padding: 40px; */
	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: center; */
	/* width: 100%; */
	/* box-sizing: border-box; */
/* } */

/* .navbar a { */
	/* color: white; */
/* } */

/* .navbar .logo { */
	/* font-size: 2em; */
	/* font-weight: bold; */
	/* margin: 0 100px; */
/* } */

/* .navbar .nav-links ul { */
	/* display: flex; */
/* } */

/* .navbar .nav-links ul li { */
	/* margin: 0 15px; */

/* } */

/* .navbar .nav-links ul li.active a { */
	/* color: red; */
/* } */

/* .nav-links a:hover{ */
    /* text-decoration: underline; */
/* } */

/* .background-accueil   { */
	/* background-image: url(images/calendrierPause.jpg); */
	/* display: flex; */
	/* height: 75vh; */
	/* color: white; */
	/* vertical-align: middle; */
	/* display: flex; */
	/* align-items: center; */
	/* padding: 0 150px; */
/* } */

/* .background-accueil .textBienvenue { */
	/* justify-content: space-between; */
	/* width: 100%; */
	/* box-sizing: border-box; */
/* } */

/* .background-accueil .textBienvenue h1 { */
	/* font-size: 3em; */
	/* font-weight: bold; */
/* } */

/* .background-accueil .textBienvenue p{ */
	/* font-size: 2em; */
/* } */
  
/* @keyframes display { */
	/* 0% { */
	  /* transform: translateX(200px); */
	  /* opacity: 0; */
	/* } */
	/* 10% { */
	  /* transform: translateX(0); */
	  /* opacity: 1; */
	/* } */
	/* 20% { */
	  /* transform: translateX(0); */
	  /* opacity: 1; */
	/* } */
	/* 30% { */
	  /* transform: translateX(-200px); */
	  /* opacity: 0; */
	/* } */
	/* 100% { */
	  /* transform: translateX(-200px); */
	  /* opacity: 0; */
	/* } */
/* } */
  
/* .pic-ctn { */
	/* position: absolute; */
	/* right: 200px; */
	/* width: 150px; */
  	/* padding: 0 300px; */
	/* top: 35%; */
/* } */
  
/* .pic-ctn > img { */
	/* position: absolute; */
	/* top: 0; */
	/* left: calc(50% - 100px); */
	/* opacity: 0; */
	/* animation: display 10s infinite; */
/* } */
  
/* img:nth-child(2) { */
	/* animation-delay: 2s; */
/* } */
/* img:nth-child(3) { */
	/* animation-delay: 4s; */
/* } */
/* img:nth-child(4) { */
	/* animation-delay: 6s; */
/* } */
/* img:nth-child(5) { */
	/* animation-delay: 8s; */
/* } */
  
/* .pic-ctn > img { */
	/* position: absolute; */
	/* top: 0; */
	/* left: calc(50% - 100px); */
	/* opacity: 0; */
	/* animation: display 10s infinite; */
/* } */
  
/* img:nth-child(2) { */
	/* animation-delay: 2s; */
/* } */
/* img:nth-child(3) { */
	/* animation-delay: 4s; */
/* } */
/* img:nth-child(4) { */
	/* animation-delay: 6s; */
/* } */
/* img:nth-child(5) { */
	/* animation-delay: 8s; */
/* } */
